*{
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3, ul, p{
   margin: 0;
   padding: 0;
}

:link { text-decoration: none; }

.container{
   width: 1300px;
   margin: 0 auto;
   position:relative;
}

header{
   position: relative; /* for absolute children */
   height: 523px;
   background-image: url('http://unsplash.it/1300/523/');
}

header::before{
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 96, 172, 0.6);
}

nav {
   padding-top: 10px;
   height: 55px;
   position: relative;
}

nav ul{
   display: inline-block;
   list-style: none;
}

nav li{ display: inline-block; }

.logo { height: 45px; }

.brand{
   position: relative;
   height: 45px;
   width: 420px;
   padding-left: 140px;
   display: inline-block;
}

.company-name, .main-nav{
   margin:0;
   position: absolute;
   line-height: 45px;
   text-transform: uppercase;
}

.company-name {
   margin-left: 13px;
   vertical-align: middle;
   color: #0b3550;
}

.main-nav {
   right: 190px;
   top: 8px;
}

.main-nav  a {
   color: #0b3550;
   font-size: 18px;
   margin-left: 10px;
   font-family: 'Oswald', sans-serif;
   transition:.25s;
}



.search-icon::after {
   position: absolute;
   display:inline-block;
   content: "\f002";
   font-family: FontAwesome;
   color: #0b3550;
   font-size: 18px;

   top: 0px;
   right: -22px;

   transition:.25s;
}

.main-nav a:hover {color: white; }
.main-nav a:hover .search-icon::after { color:white !important;}



header h1 {
   position: relative;
   text-align: center;

   color: white;
   font-size: 97px;
   text-transform: uppercase;

   padding-top: 140px;

}

header h3 {
   color:#083451;
   position: relative;
   text-align: center;
   margin-top: -16px;
   font-size: 15px;

}

article {
   float:left;
   width: 800px;
   padding-left: 164px;
   padding-top: 62px;
   margin-bottom: 68px;
}

.post-title {
   font-family: 'Oswald', sans-serif;
   font-size: 62px;
   text-transform: uppercase;
   line-height: 70px;
   font-weight:400;
   color: #0b3551;

}


.post-meta {
   position: relative;
   /*line-height: 22px;*/
   height: 22px;
   left: 3px;
   top: 7px;

}


.post-meta .user-icon {
   width: 22px;
   height: 22px;
   border-radius: 50%;
   float:left;

}

.post-meta .user-name {
   display: inline-block;
   position:relative;
   color:#196fb1
   font-size: 12px;
   /*height: 22px;*/
   line-height: 22px;
   padding-left: 9px;
   font-weight: bold;
   vertical-align: middle;
}

.post-meta .timestamp {
      display:inline;
      position:relative;
      left: 12px;
      vertical-align: text-bottom;
      font-size: 13px;
      font-weight: bold;
      color: #a3b3be;

}

.post-meta .date-time {
   text-decoration: underline;
}

.post-content{
position:relative;
margin-top: 30px;

}

.post-content p{
   line-height: 26px;
   padding: 13px 0;
   margin-bottom: 1px;
}

.post-content h3 {
   position:relative;
   margin: 2px 0px 15px 5px;
   /*height: 56px;*/
   color:#196fb1;
   border-left: 2px solid lightgray;
   font-size: 28px;
   text-transform: uppercase;
   padding: 17px 0 8px 16px;
}


.post-buttons {
   margin-top: 20px;
}

.button-comments, .button-later, .button-share {
   display:inline-block;
   background-color: #A3B3BE;
   color: white;
   height: 30px;
   width:158px;
   margin-right: 10px;
   line-height: 30px;
   white-space: nowrap;
   transition:.25s ease-in-out;
}

.button-later {
   width:128px;
}

.button-share {
   background-color: #196fb1;
   width: 154px;
}

.button-text {
   font-size: 12px;
   padding-left: 8px;
}

.comment-icon, .later-icon, .share-icon{
   display:inline-block;
   background-color: #5e686f;
   text-align: center;
   width: 33px;
   height: 30px;
   font-family: FontAwesome;
}

.share-icon{
   background-color: #0b3551;
   margin-right: 4px;
}

.comment-icon::before {
   content: "\f075";
   color: white;
   font-size: 16px;
}

.later-icon::before {
   content: "\f0ee";
   color: white;
   font-size: 16px;
}

.share-icon::before {
   content: "\f045";
   color: white;
   font-size: 16px;
}

.post-buttons a:hover {
   background-color: #5e686f;
}

.post-buttons .button-share:hover {
   background-color: #0b3551;
}


aside {
   float:right;
   width: 300px;
   margin: 68px 148px 0 52px;


}

aside .user-image {
   position: relative;
   margin: 14px 107.5px 4px 107.5px;
   border-radius: 50%;
   overflow: hidden;
}

.user-name {
   text-transform: uppercase;
   color: #196fb1;
   text-align: center;
   font-size: 16px;

}


.social-links {
   list-style: none;
   text-align: center;
}

.social-links li {
   display: inline-block;
   text-align: center;
   font-size: 13px;
   padding: 0 5px 50px 5px;
}

.social-links a {
   color: #a3b3be;
   transition:.25s;
}

.social-links a:hover {
   color:#196fb1;

}

.advert {
   text-align: right;
   padding: 0 11px;
}

.advert img {
   transition:.25s;
}

.advert img:hover {
   opacity: .7;
}



.advert .about {
   text-decoration: underline;
   color: #bac6cf;
   font-size: 16px;
   transition:.25s;
}

.advert .about:hover {
   color: #196fb1;
}

aside > section {
   position: relative;
   margin: 40px 10px;

}

aside > section h2 {
   position: relative;
   width:300px;
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   color: #196fb1;
   font-size: 18px;
   margin-bottom: 4px;


}

aside > section p {
   color: #a3b3be;
   font-size: 14px;
   line-height: 24px;
}


/*http://stackoverflow.com/a/14821134*/
hr {
   clear: both;
   display: block;
   border: 0;
   padding: 0;
   border-top: 1px solid #e1e7ea;
}


.popular h1 {
   text-transform: uppercase;
   font-size: 60px;
   text-align: center;
   font-family: 'Oswald', sans-serif;
   margin-bottom: 31px;
      color: #0b3551;

}

.popular a {
   display: block;
   position:relative;

   float:left;

   width: 25%;
   height: 330px;

   background-repeat:  no-repeat;
   background-size: cover;
   background-position: center;


}

.popular a::before {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 96, 172, 0.8);
   transition:.25s;
}

.popular a:nth-child(2){background-image:url(http://www.placecage.com/325/330);}
.popular a:nth-child(3){background-image: url(http://baconmockup.com/325/330/);}
.popular a:nth-child(4){background-image: url(http://placekitten.com/325/330);}
.popular a:nth-child(5){background-image: url(http://placebear.com/325/330);}


.popular h2 {
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   font-size: 32px;
   font-weight: normal;
   color: #0b3551;
   line-height: 38px;

   position: absolute;
   bottom: 10px;
   left: 14px;


   z-index: 100;
   transition:.25s;

}


.popular a:hover::before {
   background-color: transparent;
}

.popular a:hover h2 {
   color: white;
}


footer {
   clear:both;
   position: relative;
   height: 96px;
   /*padding: 0 160px;*/
   background-color: #0b3551;
}

.copyright {
   display: inline-block;
   position: relative;
   margin-left: 160px;


}


.copyright .tiy-icon {
   position:relative;
   display: inline-block;
   width: 56px;
   height: 44px;
   background-image: url(images/tiy.png);
   background-size:contain;
   background-repeat: no-repeat;
   top: 28px;

}

.copyright span {
   display:inline-block;
   position:relative;
   color: #a3b3be;
   top: 8px;
   left: 4px;

   font-size: 13px;


}


.footer-nav {
   position: relative;
   display: inline-block;
   list-style: none;
   top: 8px;
   left:260px;
   /*box-sizing: content-box;*/
}

.footer-nav > li {
      display:inline-block;
      line-height: 13px;
      padding-right: 4px;
}

/*https://www.jackreichert.com/2011/07/how-to-add-a-divider-between-menu-items-in-css-using-only-one-selector/*/
.footer-nav > li + li{
   padding-left: 8px;
   border-left: 1px solid #5e686f;
}



.footer-nav > li > a {
   color: #a3b3be;
   font-size: 13px;
   white-space: nowrap;
   transition:.25s;

   /*line-height: 14px;*/
}

.footer-nav > li:hover > a {
   color: white;
}
